a {
    display: flex;
    align-items: center;
}

.information {
    width: 100%;
    height: 200px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-content {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.people {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: var(--shadow);
    background-size: cover;
    background-position: center;
    background-image: url(https://s1.328888.xyz/2022/05/28/tWY0J.jpg);

}
.camera {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: var(--shadow);
    background-size: cover;
    background-position: center;
    background-image: url(https://s1.328888.xyz/2022/06/18/0zUHO.png);

}
.page {
    background-color: var(--color-apple-background);
    box-shadow: var(--shadow-1) 0px 0px 5px, var(--shadow-2) 0px 10px 10px;
    border: 1px solid #d2d2d7;
    padding: 15px 25px;
    margin: 25px 25px 0px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.page-footer {
    width: 100%;
    margin-top: 100px;
    opacity: 0.25;
    display: flex;
    justify-content: space-between;
}

.img {
    height: 100px;
    width: 100%;
    box-shadow: var(--shadow-1) 0px 0px 0px, var(--shadow-2) 0px 0px 0px;
    filter: saturate(60%);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-self: center;
    align-self: center;
    transition: all 0.6s var(--animation-end);
}

.img:hover {
    height: 300px;
    box-shadow: var(--shadow-1) 0px 0px 5px, var(--shadow-2) 0px 10px 10px;
    filter: saturate(100%);
    transition: all 0.4s var(--animation-start);
}

.page-img {
    height: 200px;
    width: 100%;
    box-shadow: var(--shadow-1) 0px 0px 0px, var(--shadow-2) 0px 0px 0px;
    filter: saturate(60%);
    border-radius: 1px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-self: center;
    align-self: center;
    transition: all 0.6s var(--animation-end);
}

.page-img:hover {
    height: 250px;
    filter: saturate(100%);
    transition: all 0.4s var(--animation-start);
}

.picture-box {
    margin: 0 25px;
}

.picture {
    height: 600px;
    width: 100%;
    margin-top: 25px;
    box-shadow: var(--shadow-1) 0px 0px 0px, var(--shadow-2) 0px 0px 0px;
    filter: saturate(100%);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-self: center;
    align-self: center;
    transition: all 0.1s var(--animation-start);
}

.picture-fill {
    z-index: 1;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 2.5px;
    margin: 7.5px;
    opacity: 0;
    -webkit-backdrop-filter: blur(10px)saturate(180%);
    backdrop-filter: blur(10px)saturate(180%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s var(--animation-end);
}

.picture-fill:hover {
    background-color: var(--color-white-t-3);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    opacity: 1;
    transition: all 0.4s var(--animation-start);
}
.picture-fill-no {
    z-index: 1;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 2.5px;
    margin: 7.5px;
    opacity: 0;
    -webkit-backdrop-filter: blur(10px)saturate(180%);
    backdrop-filter: blur(10px)saturate(180%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s var(--animation-end);
}

.picture-fill-no:hover {
    background-color: var(--color-white-t-3);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    opacity: 1;
    transition: all 0.6s var(--animation-start);
}
.picture-no {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}
